body {
  font-family: "Helvetica", "Arial", "Sans-Serif";
}

/* intro section*/

.intro {
  padding: 5rem;
  background-color: #fff;
  /* height: 80%; */
  display: grid;
  grid-template-columns: minmax(auto, 80vw) 1fr;
  grid-template-rows: 1fr 0.5fr;
  grid-row-gap: 2rem;
  grid-template-areas:
    "quote ."
    "about_work .";
}

.quote {
  font-family: "IM Fell English", serif;
  font-weight: 400;
  color: #2d353b;
  font-size: 4.5rem;
  grid-area: quote;
}

.about_work {
  font-family: "Helvetica", "Arial", "Sans-Serif";
  font-weight: 300;
  color: #2d353b;
  font-size: 2.5rem;
  grid-area: about_work;
  padding-top: 1rem;
  line-height: 1.25;
}

.about_work a,
.about_photo a {
  /* text-decoration: none; */
  color: #2d353b;
  transition: color 0.5s;
}

.about_work a:hover,
.about_photo a:hover {
  color: #da3743;
}

/* photo section */

.photo {
  padding: 3rem;
  background-color: #bd8a52;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.first {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

/* .second {
  grid-column: 2 / span 2;
  grid-row: 3 / span 1;
}

.third {
  grid-column: 3 / span 2;
  grid-row: 2 / span 1;
} */

/* .about_photo {
  color: #333;
  font-size: 2rem;
  grid-column: 4 / span 1;
} */

@media only screen and (max-width: 640px) {
  .quote {
    font-size: 2.5rem;
  }

  .intro {
    padding: 3rem;
  }

  .about_work {
    font-size: 1.5rem;
  }

  /* .photo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  } */

  .first {
    grid-column: span 1;
  }
}
