
.content        { display:flex; flex-direction:column; margin:auto; position:relative; }

h2              { color:#892312; position:absolute; bottom:6em; right:12em; font-family: 'Jura', sans-serif; }
h3              { color:#333333; position:absolute; bottom:5em; right:15em; font-family: 'Jura', sans-serif; }

a               { color:#333333; text-decoration:none; }
a:hover         { color:#666666; text-decoration:underline; }

.wrapper        { background-color: #000; }
img             { width:1520px; }
