/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1 {
  color: red;
}

/* Wrapper
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.wrapper {
	min-height: 100vh;
	min-width: 100vw;
	border: 10em solid green;
}
