/*.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}*/



.canvas {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  background: #FFFFFE;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}


.content {
  margin: 0;
  position: absolute;
  left: 33%;
  top: 70%;
  color: #146ea6;
  font-family: 'Righteous', cursive;

  display: flex;
  flex-direction: column;
}

a {
  color: #146ea6;
}

.ball-1 {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #f4ad24;
  border-radius: 10px;

  animation-name: bounce-1;
  animation-iteration-count: infinite;
  animation-duration: 4.2s;
}

@keyframes bounce-1 {
  0% {
    bottom: 0;
    animation-timing-function: cubic-bezier(.17,.67,.83,.67);
  }

  50% {
    bottom: 90vh;
    animation-timing-function: cubic-bezier(.42, 0, .58, 1);
  }

  100% {
    bottom: 0;
    animation-timing-function: cubic-bezier(.17,.67,.83,.67);
  }
}


.ball-2 {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #B07126;
  border-radius: 10px;

  animation-name: bounce-2;
  animation-iteration-count: infinite;
  animation-duration: 4.2s;
}

@keyframes bounce-2 {
  0% {
    bottom: 0;
    animation-timing-function: cubic-bezier(.42, 0, .58, 1);
  }

  50% {
    bottom: 90vh;
    animation-timing-function: cubic-bezier(.42, 0, .58, 1);
  }

  100% {
    bottom: 0;
    animation-timing-function: cubic-bezier(.42, 0, .58, 1);
  }
}

.ball-3 {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #694317;
  border-radius: 10px;

  animation-name: bounce-3;
  animation-iteration-count: infinite;
  animation-duration: 4.2s;
}

@keyframes bounce-3 {
  0% {
    bottom: 0;
    animation-timing-function: cubic-bezier(.89,.06,.83,.67);
  }

  50% {
    bottom: 90vh;
    animation-timing-function: cubic-bezier(.42, 0, .58, 1);
  }

  100% {
    bottom: 0;
    animation-timing-function: cubic-bezier(.89,.06,.83,.67);
  }
}
